{% load voting_tags %}
{% load comments %}
{% votes_by_user user on quotes as vote_dict %}


<table class="table-striped">
  {% for quote in quotes %}
    {% score_for_object quote as score %}
    {% dict_entry_for_item quote from vote_dict as vote %}
    {% get_comment_count for quote as comment_count %}
    <tr class="">
      <td class="span12" style="{% if not quote.visible %}background-color:
          #F2DEDE{% endif %}">
        <blockquote>
          <p><small style="font-size: 0.9em;">
            <strong>{{ quote.author }}</strong>
            {% if quote.context %}(<em>{{ quote.context }}</em>){% endif %}
          </small></p>
          {{ quote.content|linebreaks }}
        </blockquote>
        <p style="margin-left: 20px;">
        <small>
          <a href="/{{ quote.id }}">#{{ quote.id }}</a> −
          Score : <span id="s{{ quote.id }}">{{ score.score }}</span>
          (<span id="t{{ quote.id }}">{{ score.num_votes }}</span>
          vote{{ score.num_votes|pluralize }})
          {% if user.is_authenticated and not vote %}
            <span id="d{{ quote.id }}"> −
              <a href="javascript:void(0)"
                onclick="vote('{{ quote.id }}', 'up');">(+)</a>
              <a href="javascript:void(0)"
                onclick="vote('{{ quote.id }}', 'down');">(-)</a>
            </span>
          {% endif %}
          <span style="margin-right: 20px;" class="pull-right">
            <a href="javascript:void(0);" onclick="rimshot();">♫</a> −
            {% if user.is_authenticated %}
              {% if quote in request.user.profile.quotes.all %}
                <a onclick="fav('{{ quote.id }}');" id="f{{ quote.id }}"
                  href="javascript:void(0)">&lt;/3</a>
              {% else %}
                <a onclick="fav('{{ quote.id }}');" id="f{{ quote.id }}"
                    href="javascript:void(0)">&lt;3</a>
              {% endif %} −
            {% endif %}
            <a href="/{{ quote.id }}#c">{{ comment_count }}
                commentaire{{ comment_count|pluralize }}</a>
          </span>
        </small>
        </p>
      </td>
    </tr>
  {% endfor %}
</table>
